* {
  margin: 0;
  padding: 0;
}
.clearfix {
  clear: both;
}
.container {
  width: 960px;
  margin: 0 auto;
  background: grey;
  overflow: hidden;
}
header {
  text-align: center;
  width: 880px;
  height: 150px;
  background: burlywood;
  margin: 0 auto;
}
section {
  margin-left: 41px;
  margin-top: 20px;
  text-align: center;
  width: 545px;
  height: 700px;
  background: burlywood;
  float: left;
}
aside {
  margin-left: 25px;
  margin-top: 20px;
  width: 305px;
  height: 700px;
  text-align: center;
  background: burlywood;
  float: left;
}
footer {
  background: burlywood;
  width: 880px;
  height: 50px;
  margin: 10px auto;
}
